*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;

}
[class ^="box-"]{
    display: grid;
    place-items: center;
    border: 5px solid orangered;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    color: #fff;
}

body{
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
}
.pro{
    height: 90vh;
    width: 90%;
    margin: 20px auto;

    display: grid;
    gap: 20px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "a a a a  a a a a  a a a a"
    "b b b b  b b b b  b b b b"
    "m m m m  m m m m  m m m m"
    "s s s s  s s s s  s s s s"
    "t t t t  t t t t  t t t t";

}
.pro .box-1{
    grid-area: a;
    background-color: red;
}
.pro .box-2{
    grid-area: b;
    background-color: blue;
}
.pro .box-3{
    grid-area: m;
    background-color: chartreuse;
}
.pro .box-4{
    grid-area: s;
    background-color: yellow;
}
.pro .box-5{
    grid-area: t;
    background-color: crimson;
}
@media(min-width: 768px){
    .pro{
        height: 90vh;
        width: 90%;
        margin: 20px auto;
    
        display: grid;
        gap: 20px;
    
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "a a a a  a a a a  a a a a"
        "b b b b  m m m m  m m m m"
        "b b b b  m m m m  m m m m"
        "s s s s  m m m m  m m m m"
        "s s s s  t t t t  t t t t";
    
    }
    .pro .box-1{
        grid-area: a;
        background-color: red;
    }
    .pro .box-2{
        grid-area: b;
        background-color: blue;
    }
    .pro .box-3{
        grid-area: m;
        background-color: chartreuse;
    }
    .pro .box-4{
        grid-area: s;
        background-color: yellow;
    }
    .pro .box-5{
        grid-area: t;
        background-color: crimson;
    }
}
@media(min-width: 1080px){
    .pro{
        height: 90vh;
        width: 90%;
        margin: 20px auto;
    
        display: grid;
        gap: 20px;
    
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "a a a a  a a a a  a a a a"
        "b b m m  m m m m  m m s s"
        "b b m m  m m m m  m m s s"
        "b b m m  m m m m  m m s s"
        "t t t t  t t t t  t t s s";
    
    }
    .pro .box-1{
        grid-area: a;
        background-color: red;
    }
    .pro .box-2{
        grid-area: b;
        background-color: blue;
    }
    .pro .box-3{
        grid-area: m;
        background-color: chartreuse;
    }
    .pro .box-4{
        grid-area: s;
        background-color: yellow;
    }
    .pro .box-5{
        grid-area: t;
        background-color: crimson;
    }
}
